<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tp1.DocHome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--uses-permission android:name=".MenuActivity.permission.MAPS_RECEIVE" /-->
    /* GPS
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    /* WIFI
    <application
        android:name=".DocHomeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DocToc"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBQgELhoL8dLEM5Xwa1wuRJr5PF9WQWCxE" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <!--meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" /-->

        <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true"/>

        <activity
            android:name=".FirstActivity"
            android:label="DocToc"
            android:theme="@style/MyMaterialTheme">>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".TutoActivity" />
        <activity android:name=".MenuActivity"/>

    </application>

</manifest>