<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tp1.DocHome">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    /* GPS
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    /* WIFI
    <application
        android:name=".DocHomeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="DocToc"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA_k23EtpO0iH9T2OoMTD4TmCW3LcuJMBE" />

        <activity
            android:name=".MenuActivity"
            android:label="DocToc"
            android:theme="@style/MyMaterialTheme">>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".FirstActivity" />
        <activity android:name=".TutoActivity" />

    </application>

</manifest>